{
  "extends": ["airbnb", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-throw-literal": "off",
    "no-console": "off",
    "no-template-curly-in-string": "off",
    "no-undef": "warn",
    "no-useless-escape": "warn"
  }
}
